# Strings

In [5]:
arr = "Jarnen \r Richard is a Software Engineer" # carriage return
print(arr)

 Richard is a Software Engineer

In [6]:
arr = "Jarnen \t Richard is a Software Engineer" # tab
print(arr)

Jarnen 	 Richard is a Software Engineer

In [8]:
arr = "Jarnen \nRichard is a Software Engineer" # new line
print(arr)

Jarnen
Richard is a Software Engineer

In [10]:
arr = 'Jarnen \' Richard is a Software Engineer' # single quote
print(arr)

Jarnen ' Richard is a Software Engineer

In [11]:
arr = "Jarnen \" Richard is a Software Engineer" # double quotes
print(arr)

Jarnen " Richard is a Software Engineer

In [25]:
s = '1234567890'
print('s[::3] = ', s[::3])   # slicing
print('s[::2] = ', s[::2])
print('s[::-1] = ', s[::-1])  # reverse
print('s[-2::-1] = ', s[-2::-1])  # reverse
print('s[2::-1] = ', s[2::-1])  # reverse

s[::3] =  1470
s[::2] =  13579
s[::-1] =  0987654321
s[-2::-1] =  987654321
s[2::-1] =  321

In [31]:
list1 = arr.split() # split the string into list
print(list1)

['Jarnen', '"', 'Richard', 'is', 'a', 'Software', 'Engineer']

In [33]:
print("".join(list1)) # join the strings

Jarnen"RichardisaSoftwareEngineer

In [34]:
print(arr)

Jarnen " Richard is a Software Engineer

In [40]:
print(arr.replace('Jarnen " Richard', 'Jacinth Escol Richard'))

Jacinth Escol Richard is a Software Engineer

In [43]:
print("Iron man" == "iron man") # returns False since python is case sensitive
print("Iron man" == "Iron man") # returns True

False
True

In [46]:
print(arr)
arr.count('e')

Jarnen " Richard is a Software Engineer

4